html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", Arial, Verdana, Geneva, Tahoma, sans-serif;
  background: rgb(6, 61, 78);
  background-image: radial-gradient(rgb(76, 108, 175) 5.5%, transparent 0);
  background-size: 30px 30px;
}

.vw-90 {
  width: 90vw;
}

.vw-80 {
  width: 80vw;
}

.vw-70 {
  width: 80vw;
}

.min-vh-10 {
  min-height: 10vh;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}

.centered-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: auto;
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(6, 61, 78);
  padding: 10px;
  padding-top: 30px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
